html {
    font-family: 'Mynerve', cursive;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    padding: 3rem 2rem;
    color: azure;
    background-color: slategray
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 400px;
}

section article {
    transition: box-shadow 0.4s ease;
    margin: 1rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    padding: 3rem;
    background-color: #222;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.4s ease;
    text-decoration: none;
    color: #fff
}

footer a:hover {
    color: aqua;
}